/* App Container Styles */
.App {
  position: relative;
  min-height: 100vh;
  padding-top: 5rem;
  background-color: rgba(239, 245, 242, 0.942);
  
}

/* Background Video Styling */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(2px);
 
}

/* Navbar, About, and Project Sections */
.Navbar,
.Aboutme,
.HoverList {
  position: relative;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 4px;
}

/* Sticky Section */
.sticky-section {
  position: sticky;
  top: 4rem; /* Adjust this according to your navbar height */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Smooth Scroll */


/* Navbar Link Hover and Active States */
.navbar-link {
  transition: color 0.2s ease-in-out;
}

.navbar-link:hover {
  color: #d1d5db;
}

.active {
  border-radius: 10px;
  border-bottom: 2px solid #38bdf8;
  background-color: #38bdf8;
  transform: scale(2);
}

/* Keyframe Animation */
@keyframes colorChange {
  0% {
    color: rgb(11, 40, 55);
  }
  50% {
    color: rgb(25, 26, 25);
  }
  100% {
    color: rgba(12, 1, 11, 0.897);
  }
}

.animated-text {
  animation: colorChange 3s infinite;
}
